.container {
  height: 100%;
  display: flex;

  width: 100%;
  position: absolute;
  overflow: auto;
}

.sidebar, .column {
  flex: 1 1 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.editor, .explorer {
  padding: 20px;
  height: 100%;
}
