.container {
  height: 100%;
  display: flex;

  width: 100%;
  position: absolute;
}

.sidebar, .column {
  flex: 1 1 0px;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.editor, .explorer {
  padding: 20px;
  overflow-x: hidden;
}

.global-menu, .nav-links {
  border-bottom: 1px solid #ddd;
  min-height: 80px;
}